#root, .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Force la hauteur minimale à la taille de l'écran */
}

/* Le contenu principal prendra l'espace disponible */
.content {
    flex: 1;
}


.footer {
    width: 100%;
    height: 280px;
    color: white;
    display: flex;
    justify-content: flex-start; /* Aligner à gauche */
    align-items: flex-start; /* Aligner tout le contenu au-dessus à gauche */
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.footer div {
    padding: 2px;
    border-radius: 10px;
    flex: 1;
}

.footer2 {
    display: flex;
    flex-wrap: wrap;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135%;
    z-index: -1;
}

.lien {
    margin: 10px;
    color: green;
    bottom: 20px;
}

.lien:hover {
    color: #2c1bff;
}

.logo {
    position: relative;
    top: 10px;
    left: 10px;
    width: 20%; /* Ajuster la taille du logo */
    margin-bottom: 100px; /* Ajout d'un espace entre le logo et les liens */
    z-index: 1; /* Assurer que le logo soit visible */
}

.r {
    color: rgba(0, 0, 0, 0.2);
}

.contact {
    padding-left: 350px;
    color: green;
}

.titre {
    color: green;
    font-size: 18px;
    margin-top: 10px;
}

.nom {}

.rs {
    font-size: 25px;
    color: green;
    display: inline-block;
    margin-right: 25px;
}

.rs:hover {
    color: blue;
    font-size: 35px;
}

.test {
    position: relative;
    display: flex;
    flex-direction: column; /* Empiler le logo et les liens verticalement */
    align-items: flex-start; /* Aligner à gauche */
    justify-content: flex-start; /* Assurer que tout commence par le haut */
}
