.ml-texte {
 margin-left: 400px;
}

.ml-titre {
    text-align: center;
    margin-right: 400px;
}

.ml-h3 {
    text-decoration: underline;
}

.ml-1 {
    margin-bottom: 70px;
    line-height: 1.8;
    margin-right: 400px;
}