.pagedeco2 {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    width: 50%;
    overflow: hidden;
    position: relative; /* IMPORTANT : Permet au logo de se positionner correctement */
}

.logo-container2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-container2 img {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px; /* Ajuste la taille du logo */
    height: auto;
}

.mdp2 {
    margin-right: 80px;
}

.bouton2 {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 130px;
    height: 30px;
}

.mdp2:hover {
    color: #a905ff;
}

.mdp-titre {
    margin-top: 50px;
}