nav {
    background-color: rgba(46, 46, 46, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que la navbar soit au-dessus des autres éléments */
}

.bloc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trait
{
    height:50px;
    border:1px solid black;
}

.blocs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.color {
    color: #00b83d;
    font-size: 10px;
    text-align: center;

}

.color:hover {
    color: #28a745;
}

/* Liens */
.lienn, .blocs a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin: 25px;
}

.lienn:hover, .blocs a:hover {
    color: #28a745;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #c9302c;
}

.blocs:last-child {
    display: flex;
    align-items: center;
    gap: 30px;
}

.blocs .color {
    font-size: 22px;
}

/* Alignement du texte et des icônes */
.connexion {
    display: flex;
    align-items: center;
    gap: 30px;
}



.panier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.ecrit {
    font-size: 14px;
    color: white;
    text-align: center;
}


