.pdd-texte {
    margin-left: 400px;
}

.pdd-titre {
    text-align: center;
    margin-right: 400px;
}

.pdd-h3 {
    text-decoration: underline;

}

.pdd-t {
    margin-bottom: 70px;
    line-height: 1.6;
    margin-right: 400px;
}