ttitre {
    color: red;
    background-color: blue;
}

body {
    background: linear-gradient(#ffffff, #E9FFD6);
}

h4 {
    text-align: center;
    color: #6B4F3F;
    font-size: 35px;
    margin: 100px;
}

.filtre {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre verticalement les éléments */
    gap: 20px; /* Espace entre les icônes */
    font-size: 25px;
    margin-left: 20px;
}

.f-bouton {
    background-color: #e1c7b2;
    border: 2px solid #754624;
    border-radius: 10%;
    box-shadow: 0px 1px 0px black;
    color: black;
}

.f-bouton2 :hover {
    background-color: #ceb6a3;
    font-size: 15px;
}

.f-titre {
    font-size: 25px;
    margin-bottom: -2px;
}