ttitre {
    color: red;
    background-color: blue;
}

body {
    background: linear-gradient(#ffffff, #E9FFD6);
}

h4 {
    text-align: center;
    color: #6B4F3F;
    font-size: 35px;
    margin: 100px;
}

